In [1]:
fruits = ['orange','apple','pear','banana', 'kiwi','apple','banana']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [2]:
for x in fruits:
    print(x, end=' üêº')

orange üêºapple üêºpear üêºbanana üêºkiwi üêºapple üêºbanana üêº

In [3]:
name = "chandrashekhar"
for i in name:
    print(i,end='  ')

c  h  a  n  d  r  a  s  h  e  k  h  a  r

In [4]:
for num in range(30):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [5]:
for name in range(5):
    print("ayushi")

ayushi
ayushi
ayushi
ayushi
ayushi

In [8]:
a=10
b=5
sum = a+b
print(sum)
print("sum :" ,sum)
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

15
sum : 15
sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [15]:
for i in range(1,11):
    print(f"15*{i} = {15*i}")

15*1 = 15
15*2 = 30
15*3 = 45
15*4 = 60
15*5 = 75
15*6 = 90
15*7 = 105
15*8 = 120
15*9 = 135
15*10 = 150

In [16]:
#Write a program to print numbers from 1 to 10 using a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
#Write a program to find the sum of all even numbers between 1 and 100 using a for loop.

even_sum = 0
for number in range(1, 101):
    if number % 2 == 0:
        even_sum += number


print("The sum of all even numbers between 1 and 100 is:", even_sum)

The sum of all even numbers between 1 and 100 is: 2550

In [18]:
#print even numbers between 0 to 21
for i in range(0,21):
    if i % 2 ==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [19]:
#sum if integers from 1 to 100
sum=0
for i in range (1,101):
    sum=sum+i
print("sum of intergers from 1 to 100 is:" , sum)

sum of intergers from 1 to 100 is: 5050

In [20]:
#ptint integer using while loop
num=1
while num <=10:
    print(num)
    num +=1

1
2
3
4
5
6
7
8
9
10

In [21]:
#sum of interger using while loop

sum=0
num=1
while num<=100:
    sum = sum+num
    num = num+1
print("sum of interger from 1 to 100 is :",sum)

sum of interger from 1 to 100 is : 5050

## BREAK AND CONTINUE

In [22]:
fruits =['apple', 'orange','pear','banana','tomato','kiwi','banana']
for fruit in fruits:
    if fruit == "tomato":
        break
    print(fruit)

apple
orange
pear
banana

In [23]:
fruits =['apple', 'orange','pear','banana','tomato','kiwi','banana']
for fruit in fruits:
    if fruit == "tomato":
        continue
    print(fruit)

apple
orange
pear
banana
kiwi
banana

In [24]:
for i,f in enumerate(fruits):
    print(f'{i}.{f}')

0.apple
1.orange
2.pear
3.banana
4.tomato
5.kiwi
6.banana

In [25]:
name= ['a','y','u','s','h','i']
for i in name:
    if i=='s':
        break
    print(i)

a
y
u

In [26]:
items=['pen','pencil','book','copy','bottle','lunchbox','tiffen','eraser','bag',]
for i,v in enumerate(items):
    if i==7:
        break
    print(f'{i}.{v}')

0.pen
1.pencil
2.book
3.copy
4.bottle
5.lunchbox
6.tiffen