In [1]:
txt = "hello world"
print(txt)
print(len(txt))

hello world
11

In [2]:
#indexing

print(txt[3])
print(txt[6])

l
w

In [3]:
#slicing
print(txt[0:5])

hello

In [4]:
#string concatenation

a = input('enter a string:')
b = input('enter another string:')
print(a+b)
print(a+" "+b)
print(f'{a} {b}')

ayushishiva
ayushi shiva
ayushi shiva

In [5]:
#string duplication
word = ' hey '
print(word*5)

 hey  hey  hey  hey  hey

In [6]:
x = 'beautiful'
x.upper()

'BEAUTIFUL'

In [7]:
x.capitalize()

'Beautiful'

In [8]:
y = "PYTHON"
y.lower()

'python'

In [9]:
a = 'you are fool'
a.split()

['you', 'are', 'fool']

## DICTIONARY

- how to declare dictionary in different ways
- how to access key and values of dictionary
- how to use loops in dictionary
- nested dictionary

In [10]:
student = {
    'name': 'john',
    'class':'12th',
    'roll_no': 2,
    'age': 17
}
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17}

In [11]:
temp = {
    'lucknow': [25,35,40],
    'delhi': [30, 35, 40],
    'chenni': [24, 23, 22]
}
print(temp)

{'lucknow': [25, 35, 40], 'delhi': [30, 35, 40], 'chenni': [24, 23, 22]}

In [12]:
info = dict(name ='john', age = 17, roll_no= 2, class_='12th')
print(info)

{'name': 'john', 'age': 17, 'roll_no': 2, 'class_': '12th'}

In [13]:
info2 = dict(
    name=input('enter your name:'),
    age = int(input('enter your age:')),
    roll_no= int(input('enter your roll_no:')),
    class_=input("enter your class:")
)
print(info2)

{'name': 'ayushi', 'age': 18, 'roll_no': 23, 'class_': 'bca'}

In [14]:
#1st method to access the value of a key
print(student['name'])
print(temp['lucknow'])

john
[25, 35, 40]

In [15]:
#2nd method to access the value of a key
print(student.get('age'))
print(info2.get('roll_no'))

17
23

In [7]:
#to add items in a dictionary
student['city']= 'lucknow'
student['school']='DPS'
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow', 'school': 'DPS'}

In [8]:
#to remove items from a dictionary
student.pop('school')
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow'}

In [9]:
#using del method
del student ['roll_no']
print(student)

{'name': 'john', 'class': '12th', 'age': 17, 'city': 'lucknow'}

In [10]:
#for print key 
for k in info:
    print(k)

name
age
roll_no
class_

In [11]:
#to print key and value 
for k,v in info2.items():
    print(f'{k}:{v}')

name:ayushi
age:18
roll_no:1234
class_:12th

In [13]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['john', '12th', 17, 'lucknow'])
dict_keys(['name', 'class', 'age', 'city'])
dict_items([('name', 'john'), ('class', '12th'), ('age', 17), ('city', 'lucknow')])

In [14]:
company ={
    'emp001':{'name':'john', 'age':25, 'dept':'HR', 'salary':3000000},    
    'emp002':{'name':'ayushi', 'age':30, 'dept':'finance', 'salary':3500000},
    'emp003':{'name':'shiva', 'age':35, 'dept':'IT', 'salary':4000000},
    'emp004':{'name':'ayushiva', 'age':41, 'dept':'admin', 'salary':4500000},
    }
print(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 3000000}, 'emp002': {'name': 'ayushi', 'age': 30, 'dept': 'finance', 'salary': 3500000}, 'emp003': {'name': 'shiva', 'age': 35, 'dept': 'IT', 'salary': 4000000}, 'emp004': {'name': 'ayushiva', 'age': 41, 'dept': 'admin', 'salary': 4500000}}

In [15]:
from pprint import pp

In [16]:
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 3000000},
 'emp002': {'name': 'ayushi', 'age': 30, 'dept': 'finance', 'salary': 3500000},
 'emp003': {'name': 'shiva', 'age': 35, 'dept': 'IT', 'salary': 4000000},
 'emp004': {'name': 'ayushiva', 'age': 41, 'dept': 'admin', 'salary': 4500000}}

In [17]:
print(company["emp002"])

{'name': 'ayushi', 'age': 30, 'dept': 'finance', 'salary': 3500000}

In [19]:
print(company['emp004']['dept'])

admin

In [20]:
print(company['emp004']['age'])

41

In [25]:
# company['emp004']={'name':'ayushiva', 'age':41, 'dept':'admin', 'salary':4500000}
company['emp005']={'name':'raj', 'age':45, 'dept':'manager', 'salary':5000000}
print(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 3000000}, 'emp002': {'name': 'ayushi', 'age': 30, 'dept': 'finance', 'salary': 3500000}, 'emp003': {'name': 'shiva', 'age': 35, 'dept': 'IT', 'salary': 4000000}, 'emp004': {'name': 'ayushiva', 'age': 41, 'dept': 'admin', 'salary': 4500000}, 'emp005': {'name': 'raj', 'age': 45, 'dept': 'manager', 'salary': 5000000}}

In [23]:
from pprint import pp

In [26]:
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 3000000},
 'emp002': {'name': 'ayushi', 'age': 30, 'dept': 'finance', 'salary': 3500000},
 'emp003': {'name': 'shiva', 'age': 35, 'dept': 'IT', 'salary': 4000000},
 'emp004': {'name': 'ayushiva', 'age': 41, 'dept': 'admin', 'salary': 4500000},
 'emp005': {'name': 'raj', 'age': 45, 'dept': 'manager', 'salary': 5000000}}

In [27]:
#indexing in dictionary
print(temp['lucknow'][0])
print(temp['delhi'][2])

25
40

In [29]:
temp = {
    'lucknow': [25,35,40],
    'delhi': [30, 35, 40],
    'chenni': [24, 23, 22]
}
print('average temperature of delhi is :', sum(temp['delhi'])/len(temp['delhi']))

average temperature of delhi is : 35.0